<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ message }}</title>
        <script>
            function myFunction() {
            location.replace("https://iamsnj.github.io")
            }
         
            setTimeout(function(){ myFunction(); }, 3000);
         </script>
    </head>
    <body>
        <div style="text-align: center;">
            <div>
                <b>{{ message }}</b>
            </div>
            <p>You will be redirected in 3 seconds. If not <a href="https://iamsnj.github.io">click here</a></p>
        </div>
    </body>
</html>
